langchain-openai
langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain-groq
langchain-text-splitters
langchain-openai
chromadb
sentence-transformers
langchain_huggingface
faiss-cpu
langchain-chroma
streamlit
langchain_groq
fastap
uvicorn
langserve
sse_starlette
Pypdf
arxiv
wikipedia
ipykernel
validators==0.28.1
youtube_transcript_api
pytube
unstructured
numexpr
duckduckgo-search
langchain-community
duckduckgo-search==5.3.1


